.search-div {
  width: 24px;
  background: url(../../public/search.svg);
  background-repeat: no-repeat;
}

.left-arrow {
  height: 24px;
  width: 24px;
  margin-bottom: 65px;
  background: url(../../public/left.svg);
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.right-arrow {
  height: 24px;
  width: 24px;
  margin-bottom: 65px;
  background: url(../../public/right.svg);
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.loader {
  height: 24px;
  width: 24px;
  background: url(../../public/loader.svg);
}
