.login-div {
	position: absolute;
	left: 35.07%;
	right: 35.07%;
	top: 16.05%;
	/* white */
	background: #ffffff;
	/* black 10 */
	border: 1px solid #dbdbdb;
	box-sizing: border-box;
	border-radius: 16px;
	padding-left: 39px;
	padding-right: 41px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.login-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.signup-button {
	background: #8e9198;
	border-radius: 2px;
	padding-top: .05px;
	padding-bottom: 1px;
	color: #FFFFFF;
	width: 85px;
	text-align: center;
}

.login-text {
	/* Heading 1 */
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	/* identical to box height, or 133% */
	/* blue 60 */
	color: #0091ff;
}

.login-button {
	background: #ffffff;
	/* Gray 2 */
	border: 1px solid #dde2e5;
	box-sizing: border-box;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	width: 100%;
	margin-top: 25vh;
}

.login-button:hover {
	background: #fbfbfb;
}

.loginbutton-content {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	padding: 10px;
	vertical-align: middle;
}

.signin-text {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */
	/* blue 60 */
	color: #0091ff;
	align-items: center;
	display: flex;
}

span.psw {
	float: left;
	padding-top: 10px;
	color: blue;
}

span.psw:hover {
	color: red;
}